page-home {


  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
  /*  -ms-flex: 0 0 8.33333%;
    flex: 0 0 24%;
   -webkit-flex-grow: 0;
    width: 21%;
    max-width: 21%;*/


  }


  .col {
    text-align: center;
    padding: 0px;


  }
  .last-month, .next-month {
    color: #999999;
    font-size: 90%;
  }
  .currentDate, .otherDate {
    padding: 5px;
  }
  .currentDate {
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 30px;
  }
  .calendar-header {
    background-color: #1a732d;
    color: #FFFFFF;
  }
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 30px;
  }
  .selected-date {
    width: 20px;
    height: 2px;
    background-color: blue;
  }
  .unselected-date {
    border: none;
  }
  .calendar-body {
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday, .calendar-date {
      text-align: center;
      margin: 0;
    }
    .calendar-weekday {
      font-weight: bold;
      border-bottom: solid 1px #1a732d;
      background-color: #26ab56;
    }
    .calendar-date {
      border-top: solid 1px #1a732d;
      border-bottom: solid 1px #1a732d;
    }
  }

  #parent{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .child{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  }

  #container1{

    overflow: hidden;
  }

  #container2{
    overflow: auto;
  }
  ::-webkit-scrollbar {
    background: #ffffff;
  }

  .calendar-col{
    min-width: 37.78px;
    max-width: 37.78px;
    border-left: groove;
    text-align: center;
    border-width: thin;

    min-height: 1cm;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    color: #cccccc;
    font-size: 14px;
    height: 1cm;

    border-bottom: groove;
    border-width: thin;
    border-color: #EEEEEE;
  }

  .fixed-col{


    text-align: center;
    min-height: 1cm;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    color: #5b5e5a;
    font-size: 14px;
    height: 1cm;
width: 100px;

    border-bottom: groove;
    border-width: thin;
    border-color: #EEEEEE;

  }
  .fixed-col-noborder{

    text-align: center;
    min-height: 1cm;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    color: #5b5e5a;
    font-size: 14px;
    height: 1cm;
    width: 100px;
    border-bottom: groove;
    border-width: thin;
    border-color: #EEEEEE;
  }

  .row1{
    padding: 1px;
   /* border-bottom: groove;
    border-width: thin;
    border-color: #EEEEEE;*/
    word-wrap: break-word; font-size:0.8em; font-weight:300;

  }
  .row2{
    padding: 1px;
   /* border-bottom: groove;
    border-width: thin;
    border-color: #EEEEEE;*/
    word-wrap: break-word; font-size:0.8em; font-weight:300;
  }

  .row3{
    height: 37.78px;
  }

  .weeknames{
    padding-bottom: 10%;
    font-size: 9px;
  }
  .days{

    font-family: "SansSerif", serif;
    //font-weight: bold;
  }

  .finsemana{
    background: lightgrey;
  }

  .grid{
    padding: 0px;
  }


  /*  javier */
  .triangulo-equilatero-bottom-fin {

    width: 0;
    height: 0;
    border-right: 19px solid transparent;
    border-top: 19px solid #f0ad4e;
    border-left: 18px solid #f0ad4e;
    border-bottom: 18px solid transparent;
  }
  .triangulo-equilatero-bottom-inicio{
    width: 0;
    height: 0;
    border-right: 18px solid #f0ad4e;
    border-top: 18px solid transparent;
    border-left: 19px solid transparent;
    border-bottom: 19px solid #f0ad4e;

  }
  .cuadrado {
    width: 19px;
    height: 37px;
    background: #f0ad4e;
  }

  .rightborder{
    border-right: groove;
    border-width: thin;
  }
  .leftbordernone{
    border-left: none;
    border-width: thin;
  }

  /*  javier fin */

}
