<ion-header >
  <ion-navbar  style="min-height: 50px;line-height: 17px;background: lightgrey;">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >
      <div style="display: inline-block; float: left">
      <span style="text-align: left; font-size: 16px">{{currentMonth}} {{currentYear}}</span>
      </div>
      <div style="display: inline-block; float: right">
        <button  style="background: none;float: right" icon-only >
          <ion-icon name="md-notifications"></ion-icon>
        </button>

      <button  style="background: none;float: right" icon-only (click)="showDate()">
        <ion-icon name="md-calendar"></ion-icon>
      </button>

        <button  style="background: none;float: right" icon-only >
          <ion-icon name="md-search"></ion-icon>
        </button>
      </div>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content >

  <div class="row" nowrap style="
        word-wrap: break-word;
        font-size:0.8em;
        font-weight:300;
        ">

    <div >
      <div id="container3">
        <div id="container4"  >
      <ion-grid  >

        <ion-row  class="row2" nowrap>


          <ion-col class="fixed-col-noborder"   >

          <button  style="background: none;float: left; padding-top: 15px" icon-only (click)="filter()" >
            <ion-icon name="ios-funnel"></ion-icon>
          </button>
          </ion-col>

        </ion-row>

        <ion-row class="row2" nowrap *ngFor="let room of rooms">
          <ion-col   class="fixed-col" >
            <ion-icon class="room-icon" name="md-home"></ion-icon>
            <ion-icon class="room-icon" name="md-people"></ion-icon>
            <p class="room-icon">2 +1 </p>
            <br>
            <p class="room-names" >{{room.name}}</p>
          </ion-col>

        </ion-row>

        <!--Codigo de prueba-->

         <!--<ion-row class="row2" nowrap >
          <ion-col   class="fixed-col" >
            <ion-icon class="room-icon" name="md-home"></ion-icon>
            <ion-icon class="room-icon" name="md-person"></ion-icon>
            <p class="room-icon-name">2 +1 </p>
            <br>

            <span class="room-names">Habitacion 1 </span>
          </ion-col>

        </ion-row>-->

        <!--Fin de codigo de prueba-->


      </ion-grid>
        </div>
      </div>
    </div>

    <div id="container1">
      <div id="container2" vp-scrollable-content
      >

        <ion-grid  >

          <!--Encabezado-->
          <ion-row  class="row1" nowrap>
            <ion-col   col-1  *ngFor="let day of daysInThisMonth ; let i = index"
                      id="{{day.getDate()}}-{{day.getMonth()}}-{{day.getFullYear()}}"
                       class="calendar-col finsemana-header-{{day.getDay()==0 || day.getDay()==6}} today-header-{{day.getDate()+'-'+day.getMonth()+'-'+day.getFullYear() == today}} ">

              <div class="weeknames">
                {{weekDayNames[i]}}<br>
              </div>
              <div  class="days" (vp-in-view)="addmore(day)" [vp-in-view-config]="{infinite: true, marginHorizontal: 1}" >
                {{day.getDate()}}

              </div>
            </ion-col>

          </ion-row>


          <!--Habitaciones BD -->
        <ion-row class="row1" nowrap *ngFor="let room of rooms">
            <ion-col  col-1  *ngFor="let day of daysInThisMonth ; let i = index"
                      class="calendar-col-hab event finsemana-{{day.getDay()==0 || day.getDay()==6}} today-body-{{day.getDate()+'-'+day.getMonth()+'-'+day.getFullYear() == today}}"
                      (click) = "crear_evento(day,room.id_room)">
              <ion-row class="row3" >
              <ion-col class="" id = 'hab{{room.id_room}}-{{day.getFullYear()+"-"+day.getMonth()+"-"+day.getDate()}}'>
                <canvas id="hab{{room.id_room}}-{{i}}"  ></canvas>
              </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>


          <!--Habitacion de prueba-->
          <!--<ion-row class="row1" nowrap  >
            <ion-col  col-1  *ngFor="let day of daysInThisMonth ; let i = index"
                      class="calendar-col-hab event finsemana-{{day.getDay()==0 || day.getDay()==6}} today-body-{{day.getDate()+'-'+day.getMonth()+'-'+day.getFullYear() == today}}"
                      (click) = "crear_evento(day)">
              <ion-row class="row3" >
                <ion-col class="" id = 'hab1-{{day.getFullYear()+"-"+day.getMonth()+"-"+day.getDate()}}'>
                  <canvas id="hb2-{{i}}"  ></canvas>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>-->

          <!--Fin de habitacion de prueba-->

        </ion-grid>
      </div>
    </div>


  </div>
  <!--
  <ion-list>
    <ion-item *ngFor="let room of rooms">
      <h2>
        {{room.name}}
        {{room.cant_people}}
      </h2>

    </ion-item>
  </ion-list>-->

  <ion-fab bottom right >
    <button  ion-fab icon-only color="add" (click)="crear_evento(day,'')">
      <ion-icon name="add" style="color:white"></ion-icon>
    </button>
  </ion-fab>



</ion-content>
