<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      My Calendar App
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content >


  <div class="calendar-header">
    <ion-row class="calendar-month">

      <ion-col col-12>{{currentMonth}} {{currentYear}}</ion-col>

    </ion-row>
  </div>
  <div id="container1">
    <div id="container2" >

      <ion-grid  >

        <ion-row nowrap style="
        word-wrap: break-word;
        font-size:0.8em;
        font-weight:300;
        " >

          <ion-col col-1 *ngFor="let week of weekDayNames">{{week}} </ion-col>
        </ion-row>
        <ion-row nowrap style="
        word-wrap: break-word;
        font-size:0.8em;
        font-weight:300;
        "  >
          <ion-col on-swipe="asd(day)" col-1  *ngFor="let day of daysInThisMonth ; let i = index; let first = first; let last = last" id="{{day.getDate()}}-{{day.getMonth()}}-{{day.getFullYear()}}" (click)="asd(day)">

            <div >
              {{day.getDate()}}
            </div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </div>

  <button (mousedown)="asda()"  >
huygt
  </button>
  <button (blur)="asda()">
    Button 2
  </button>
  <button (focus)="asda()" >
    Button 3
  </button>
  <button  (show)="asda()" >
    Button 4
  </button>
  <button  (click)="asda()" >
    Button 5
  </button>
  <button (mouseleave)="asda()">
    Button 6
  </button>
  <button
          (mousemove)="asda()" >
    Button 7
  </button>
  <button  (mouseover)="asda()" >
    Button 8
  </button>
  <button   (mouseout)="asda()">
    Button 9
  </button>
  <br>
  <br>
  <br>
  <br>
  <button class="button"  on-swipe="asda()">
    Button 10
  </button>

<!--

 <a id="start" href="#19-2">asd
  </a>

  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col col-2 (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
      <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
      <ion-col col-2 (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
    </ion-row>
  </div>
  <div class="calendar-body" (swipe)="swipe($event)" >
    <ion-grid>
      <ion-row class="calendar-weekday">

        <ion-col  col-1 *ngFor="let weekDay of weekDayNames" >
          {{weekDay}}<br>

        </ion-col>

      </ion-row>

      <ion-row class="calendar-date" >
        <ion-col  col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
        <ion-col  col-1 *ngFor="let day of daysInThisMonth"  (click)="selectDate(day)">
          <span (ionChange)="transition($event)"class="currentDate" *ngIf="currentDate === day; else otherDate">{{day}}</span>
          <ng-template  #otherDate class="otherDate">
            {{day}}<br>
            <div class="event-bullet" *ngIf="checkEvent(day)"></div>
          </ng-template>
        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>
      </ion-row>

    </ion-grid>
  </div>
  <div class="selected-event" *ngIf="isSelected">
    <ion-list>
      <ion-item *ngFor="let se of selectedEvent">
        <ion-buttons end>
          <button ion-button clear icon-only (click)="deleteEvent(se)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <h2>{{se.title}}</h2>
        <h3>{{se.message}}</h3>
        <p>Start Date: {{se.startDate}}<br>
          Start Date: {{se.endDate}}</p>
      </ion-item>
    </ion-list>
  </div>


  <ion-list>

    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="developer.name" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Skill</ion-label>
      <ion-input type="text" [(ngModel)]="developer.skill" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Years of experience</ion-label>
      <ion-input type="text" [(ngModel)]="developer.yearsOfExperience" ></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button full (click)="addDeveloper()">Save</button>
    </ion-item>
    <ion-item *ngFor="let dev of developers">
      <h2>{{dev.name}}</h2>
      <p>{{dev.yearsOfExperience}} years of {{dev.skill}}</p>
    </ion-item>
  </ion-list>

-->




</ion-content>
