page-home {


  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
  /*  -ms-flex: 0 0 8.33333%;
    flex: 0 0 24%;
   -webkit-flex-grow: 0;
    width: 21%;
    max-width: 21%;*/


  }


  .col {
    text-align: center;
    padding: 0px;


  }
  .last-month, .next-month {
    color: #999999;
    font-size: 90%;
  }

  .currentDate {
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 30px;
  }
  .calendar-header {
    background-color: #1a732d;
    color: #FFFFFF;
  }
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 30px;
  }
  .selected-date {
    width: 20px;
    height: 2px;
    background-color: blue;
  }
  .unselected-date {
    border: none;
  }


  #parent{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .child{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  }

  #container1{

    overflow: hidden;
  }

  #container2{
    overflow: auto;
  }
  ::-webkit-scrollbar {
    background: #ffffff;
  }

  .calendar-col{
    min-width: 37.78px;
    max-width: 37.78px;
    border-left: groove;
    text-align: center;
    border-width: thin;

    min-height: 1cm;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    color: #000000;
    font-size: 14px;
    height: 50px;

    border-bottom: groove;
    border-width: thin;
    border-color: #EEEEEE;
  }

  .fixed-col{


    text-align: center;
    min-height: 1cm;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    color: #5b5e5a;
    font-size: 14px;
    height: 50px;
    width: 100px;

    border-bottom: groove;
    border-width: thin;
    border-color: #EEEEEE;

  }
  .fixed-col-noborder{

    text-align: center;
    min-height: 1cm;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    color: #5b5e5a;
    font-size: 14px;
    height: 50px;
    width: 100px;
    border-bottom: groove;
    border-width: thin;
    border-color: #EEEEEE;
  }

  .row1{
    padding: 1px;
   /* border-bottom: groove;
    border-width: thin;
    border-color: #EEEEEE;*/
    word-wrap: break-word; font-size:0.8em; font-weight:300;

  }
  .row2{
    padding: 1px;
   /* border-bottom: groove;
    border-width: thin;
    border-color: #EEEEEE;*/
    word-wrap: break-word; font-size:0.8em; font-weight:300;
  }

  .row3{
    height: 37.78px;
  }

  .weeknames{
    font-size: 10px;
  }
  .days{
    font-size: 17px;
  }

  .finsemana-true{
    background: rgba(193, 187, 193, 0.29);
    //background: #a7a4a41c;
  }
  .finsemana-header-true{
    background: rgba(193, 187, 193, 0.29);
    border-top:solid;
    font-size: 15px;
    padding: 0px;
  }

  .grid{
    padding: 0px;
  }

  .today-header-true{
    background: #09a60a;
    color: #ffffff;
    border-color: #000;

  }

  .today-body-true{
    background: rgba(97, 255, 120, 0.47);

  }

 /*  javier */
  .triangulo-equilatero-bottom-fin-1 {

    width: 0;
    height: 0;
    border-right: 19px solid transparent;
    border-top: 19px solid #ff9886;
    border-left: 18px solid #ff9886;
    border-bottom: 18px solid transparent;
  }
  .triangulo-equilatero-bottom-fin-2 {

    width: 0;
    height: 0;
    border-right: 19px solid transparent;
    border-top: 19px solid #a19513;
    border-left: 18px solid #a19513;
    border-bottom: 18px solid transparent;
  }
  .triangulo-equilatero-bottom-fin-3 {

    width: 0;
    height: 0;
    border-right: 19px solid transparent;
    border-top: 19px solid #32db64;
    border-left: 18px solid #32db64;
    border-bottom: 18px solid transparent;
  }
  .triangulo-equilatero-bottom-fin-4 {

    width: 0;
    height: 0;
    border-right: 19px solid transparent;
    border-top: 19px solid #84607f;
    border-left: 18px solid #84607f;
    border-bottom: 18px solid transparent;
  }
  .triangulo-equilatero-bottom-fin-5 {

    width: 0;
    height: 0;
    border-right: 19px solid transparent;
    border-top: 19px solid #f53d3d;
    border-left: 18px solid #f53d3d;
    border-bottom: 18px solid transparent;
  }

  .triangulo-equilatero-bottom-inicio-1{
    width: 0;
    height: 0;
    border-right: 18px solid #ff9886;
    border-top: 18px solid transparent;
    border-left: 19px solid transparent;
    border-bottom: 19px solid #ff9886;

  }
  .triangulo-equilatero-bottom-inicio-2{
    width: 0;
    height: 0;
    border-right: 18px solid #a19513;
    border-top: 18px solid transparent;
    border-left: 19px solid transparent;
    border-bottom: 19px solid #a19513;

  }
  .triangulo-equilatero-bottom-inicio-3{
    width: 0;
    height: 0;
    border-right: 18px solid #32db64;
    border-top: 18px solid transparent;
    border-left: 19px solid transparent;
    border-bottom: 19px solid #32db64;

  }
  .triangulo-equilatero-bottom-inicio-4{
    width: 0;
    height: 0;
    border-right: 18px solid #84607f;
    border-top: 18px solid transparent;
    border-left: 19px solid transparent;
    border-bottom: 19px solid #84607f;

  }
  .triangulo-equilatero-bottom-inicio-5{
    width: 0;
    height: 0;
    border-right: 18px solid #f53d3d;
    border-top: 18px solid transparent;
    border-left: 19px solid transparent;
    border-bottom: 19px solid #f53d3d;

  }

  .cuadrado-1 {
    width: 19px;
    height: 37px;
    background: #ff9886;
  }
  .cuadrado-2 {
    width: 19px;
    height: 37px;
    background: #a19513;
  }
  .cuadrado-3 {
    width: 19px;
    height: 37px;
    background: #32db64;
  }
  .cuadrado-4 {
    width: 19px;
    height: 37px;
    background: #84607f;
  }
  .cuadrado-5 {
    width: 19px;
    height: 37px;
    background: #f53d3d;
  }


  .rightborder{
    border-right: groove;
    border-width: thin;
  }
  .leftbordernone{
    border-left: none;
    border-width: thin;
  }

  .dos-reservas-inicio{
    width: 0;
    height: 0;
    border-right: 18px solid #f0ad4e;
    border-top: 18px solid #1a732d;
    border-left: 19px solid #1a732d;;
    border-bottom: 19px solid #f0ad4e;

  }
  .dos-reservas-fin-{
    width: 0;
    height: 0;
    border-right: 18px solid #1a732d;
    border-top: 18px solid #f0ad4e;
    border-left: 19px solid #f0ad4e;
    border-bottom: 19px solid #1a732d;

  }

  /*  javier fin */

  .search-results {
    height: 100px;
    overflow-x: scroll;
    overflow-y: scroll;
  }

     p {
        display: inline;
      }
}
