
<ion-header>

  <ion-navbar>

    <ion-title>Limpieza</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons start>
      <button ion-button icon-only (click)="save()"  >
        <ion-icon md="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>



  <ion-list class="cleaning-list" radio-group >
    <ion-list-header>
      Toallas
    </ion-list-header>

    <ion-item>
      <ion-label>Cambiar cada {{cleaning_toallas.fixed_day}} dias</ion-label>

      <ion-radio  value="1" (click)="hideWeekDays() " [checked]="toallas1" ></ion-radio>
    <!--  <ion-radio *ngIf="cleaning_toallas.selected_option != 1" value="1" (click)="hideWeekDays() " ></ion-radio>-->
    </ion-item>

    <ion-item id="addDays-1" style="display: none">
      <ion-grid  >
        <ion-row>
          <ion-col col-3  style="padding: 0px">
            <ion-list>
              <ion-item>
                <ion-input type="number" [(ngModel)]="cleaning_toallas.fixed_day" > </ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col col-2  style="padding-top: 15px">
            <button style="background: none" icon-only (click)="removeFixedDay('toalla')">
              <ion-icon name="remove-circle"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2  style="padding-top: 15px">
            <button  style="background: none" icon-only (click)="addFixedDay('toalla')">
              <ion-icon name="add-circle"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-label>Cambio tras salida</ion-label>
      <ion-radio  (click)="hideAdd()"[checked]="toallas2" value="2"></ion-radio>
      <!--<ion-radio *ngIf="cleaning_toallas.selected_option != 2" (click)="hideAdd()"  value="1"></ion-radio>-->
    </ion-item>

    <ion-item>
      <ion-label>Cambio los dias</ion-label>
      <ion-radio  (click)="hideAddDays()" [checked]="toallas3" value="3" ></ion-radio>
      <!--<ion-radio *ngIf="cleaning_toallas.selected_option != 3" (click)="hideAddDays()" value="3" ></ion-radio>-->
    </ion-item>

    <ion-item id="addWeekDays-1" style="display: none">
      <ion-label>Días de la semana</ion-label>
      <ion-select  multiple="true" cancelText="Cancelar" okText="Ok" [(ngModel)]="cleaning_toallas.week_day">
        <ion-option value="Lunes" selected="true">Lunes</ion-option>
        <ion-option value="Martes">Martes</ion-option>
        <ion-option value="Miercoles" selected="true">Miércoles</ion-option>
        <ion-option value="Jueves">Jueves</ion-option>
        <ion-option value="Viernes" selected="true">Viernes</ion-option>
        <ion-option value="Sabado">Sábado</ion-option>
        <ion-option value="Domingo">Domingo</ion-option>

      </ion-select>
    </ion-item>

  </ion-list>

<br>
<br>
  <ion-list class="cleaning-list" radio-group>
    <ion-list-header>
      Ropa de Cama
    </ion-list-header>

    <ion-item>
      <ion-label>Cambiar cada {{cleaning_ropacama.fixed_day}} dias</ion-label>

      <ion-radio  value="1" (click)="hideWeekDays2()"  [checked]="ropacama1" ></ion-radio>
      <!--<ion-radio *ngIf="cleaning_ropacama.selected_option != 1" value="1" (click)="hideWeekDays2()"  ></ion-radio>-->
    </ion-item>

    <ion-item id="addDays-2" style="display: none">
      <ion-grid  >
        <ion-row>
          <ion-col col-3  style="padding: 0px">
            <ion-list><ion-item>
              <ion-input type="number" [(ngModel)]="cleaning_ropacama.fixed_day" > </ion-input>
            </ion-item></ion-list>
          </ion-col>
          <ion-col col-2  style="padding-top: 15px">
            <button style="background: none" icon-only (click)="removeFixedDay('ropacama')">
              <ion-icon name="remove-circle"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2  style="padding-top: 15px">
            <button  style="background: none" icon-only (click)="addFixedDay('ropacama')">
              <ion-icon name="add-circle"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-label>Cambio tras salida</ion-label>
      <ion-radio  (click)="hideAdd2()" [checked]="ropacama2" value="2"></ion-radio>
      <!--<ion-radio *ngIf="cleaning_ropacama.selected_option != 2" (click)="hideAdd2()"  value="2"></ion-radio>-->
    </ion-item>

    <ion-item>
      <ion-label>Cambio los dias</ion-label>
      <ion-radio  (click)="hideAddDays2()" value="3" [checked]="ropacama3" ></ion-radio>
      <!--<ion-radio *ngIf="cleaning_ropacama.selected_option != 3" (click)="hideAddDays2()" value="3" ></ion-radio>-->
    </ion-item>

    <ion-item id="addWeekDays-2" style="display: none">
      <ion-label>Días de la semana</ion-label>
      <ion-select  multiple="true" cancelText="Cancelar" okText="Ok" [(ngModel)]="cleaning_ropacama.week_day">
        <ion-option value="Lunes" selected="true">Lunes</ion-option>
        <ion-option value="Martes">Martes</ion-option>
        <ion-option value="Miercoles" selected="true">Miércoles</ion-option>
        <ion-option value="Jueves">Jueves</ion-option>
        <ion-option value="Viernes" selected="true">Viernes</ion-option>
        <ion-option value="Sabado">Sábado</ion-option>
        <ion-option value="Domingo">Domingo</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
<br>
<br>
  <ion-list class="cleaning-list" radio-group >
    <ion-list-header>
      Limpieza
    </ion-list-header>

    <ion-item>
      <ion-label>Cambiar cada {{cleaning_limpieza.fixed_day}} dias</ion-label>
      <ion-radio  value="1" (click)="hideWeekDays3()" [checked]="limpieza1"></ion-radio>
      <!--<ion-radio *ngIf="cleaning_limpieza.selected_option != 1" value="1" (click)="hideWeekDays3()" ></ion-radio>-->
    </ion-item>

    <ion-item id="addDays-3" style="display: none">
      <ion-grid  >
        <ion-row>
          <ion-col col-3  style="padding: 0px">
            <ion-list><ion-item>
              <ion-input type="number" [(ngModel)]="cleaning_limpieza.fixed_day"> </ion-input>
            </ion-item></ion-list>
          </ion-col>
          <ion-col col-2  style="padding-top: 15px">
            <button style="background: none" icon-only (click)="removeFixedDay('limpieza')">
              <ion-icon name="remove-circle"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2  style="padding-top: 15px">
            <button  style="background: none" icon-only (click)="addFixedDay('limpieza')">
              <ion-icon name="add-circle"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-label>Cambio tras salida</ion-label>
      <ion-radio  (click)="hideAdd3()" [checked]="limpieza2" value="2"></ion-radio>
      <!--<ion-radio *ngIf="cleaning_limpieza.selected_option != 2"  (click)="hideAdd3()"  value="2"></ion-radio>-->
    </ion-item>

    <ion-item>
      <ion-label>Cambio los dias</ion-label>
      <ion-radio (click)="hideAddDays3()" [checked]="limpieza3" value="3" ></ion-radio>
      <!--<ion-radio *ngIf="cleaning_limpieza.selected_option != 3" (click)="hideAddDays3()" value="3" ></ion-radio>-->
    </ion-item>

    <ion-item id="addWeekDays-3" style="display: none">
      <ion-label>Días de la semana</ion-label>
      <ion-select  multiple="true" cancelText="Cancelar" okText="Ok" [(ngModel)]="cleaning_limpieza.week_day">
        <ion-option value="Lunes" selected="true">Lunes</ion-option>
        <ion-option value="Martes">Martes</ion-option>
        <ion-option value="Miercoles" selected="true">Miércoles</ion-option>
        <ion-option value="Jueves">Jueves</ion-option>
        <ion-option value="Viernes" selected="true">Viernes</ion-option>
        <ion-option value="Sabado">Sábado</ion-option>
        <ion-option value="Domingo">Domingo</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <button ion-button type="submit" full round (click)="save()">Guardar</button>
  </ion-item>

</ion-content>
